/*------------------------CB DOCS STYLING-----------------------------*/

/*----------------------------------------------------------------------*/
/*---------------------FORMAT CANADIAN CB DOCS--------------------------*/
/*----------------------------------------------------------------------*/

h1#cdndocs {
	margin-bottom: 0;
	margin-top: 0em;
	text-align: center;
	font-size: 200%;
}
table#cdndocs {
	width: 100%;
	margin: 0;
	border-collapse: collapse;
}

table#cdndocs th {
	color: white;
	text-align: center;
	background-color: blue;
	font-size: 100%;
}

table#cdndocs tr:nth-child(odd) {
	background-color: LightGray;
}
table#cdndocs td {
	text-align: left;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	font-size: 12px;
	padding-left: 5px;
}
table#cdndocs td:first-of-type {
        color: white;
        background-color: blue;
        font-weight: bold;
        max-width: 100px;
}

/*----------------------------------------------------------------------*/
/*---------------------FORMAT CANADIAN CB BY YEAR-----------------------*/
/*----------------------------------------------------------------------*/

h1.t1canadianCBY {
	margin-bottom: 0;
	margin-top: 0em;
	text-align: center;
	font-size: 200%;
}
table.t1canadianCBY {
	width: 80%;
	margin: 0 0 0 10%;
	border-collapse: collapse;
}

table.t1canadianCBY th {
	color: white;
	text-align: center;
	background-color: blue;
	font-size: 100%;
}
table.t1canadianCBY tr:nth-child(odd) {
	background-color: LightGray;
}
table.t1canadianCBY td {
	text-align: center;
	vertical-align: top;  /* for the Year column */
	height: 20px;
	font-size: 90%;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
}

table.t1canadianCBY a {
	font-size: 85%;
}
/*! ---END FORMAT CANADIAN CB BY YEAR-----*/
td.t1spacer {
	border: none;
	height: 1em;
	background-color: gray;
}
/*! ---END FORMAT CANADIAN CB DOCS-----*/

/*----------------------------------------------------------------------*/
/*---------------------FORMAT USD ISSUER URL TABLES---------------------*/
/*----------------------------------------------------------------------*/

h1.t1USDI {
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	font-size: 24px;
}

table.t1USDI {
	margin:0 0 0 0%;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

table.t1USDI th {
	color: white;
	text-align: center;
	vertical-align: bottom;
	background-color: blue;
	font-size: 16px;
	height: 20px;
}
table.t1USDI th:first-child {
	width: 25%;
	background-color: green;
}

table.t1USDI td {
	text-align: left;
	vertical-align:top;
	font-size: 12px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-color: grey;
	border-width: 1px;
}
/*! ---END FORMAT USD ISSUER URLS----*/