/*---------------COVERED BOND TABLE STYLING-----------------------------*/

/*----------------------------------------------------------------------*/
/*------------FORMAT COVERED BOND ISSUANCE TABLES-----------------------*/
/*----------------------------------------------------------------------*/

div#BuildCBTable {
	display: grid; 
	place-items: center;
	flex-shrink: 0; 
}

div.CBTable-center {
	width: 1600;
	margin: auto; 
}

h1.t1CanadianCBD, h1.t1USDCB {
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	font-size: 24px;
}

table.t1CanadianCBD {
	margin:0 0 0 0%;
	max-width: 1600px;  
	border-collapse: collapse;
/*-------christmas------------*/
	background-color: white;
	padding: 5px;
/*----------end-----------------*/
}

table.t1CanadianCBD th {
	color: white;
	text-align: left;
  	vertical-align: bottom;
	background-color: blue;
	font-size: 100%;
	height: 20px;
}

table.t1CanadianCBD td {
	vertical-align:top;
	font-size: 90%;
	border-bottom-style: solid;
	border-top-style: solid;
	border-color: grey;
	border-width: 1px;
        color: black;
}

table.t1CanadianCBD th, td {
	padding: 1px 5px;
}


table.t1CanadianCBD th:nth-child(1) {  
    column-width: 80;
    text-align: left; }  /* align region left  */
table.t1CanadianCBD th:nth-child(2) {  
    column-width: 220;
    text-align: left; }  /* align region left  */
table.t1CanadianCBD th:nth-child(3) {  
    column-width: 30;
    text-align: left; }  /* align region left  */
table.t1CanadianCBD th:nth-child(4) {  
    column-width: 50;
    text-align: left; }  /* align series left  */
table.t1CanadianCBD th:nth-child(5) {  
    column-width: 25;
    text-align: right; } /* align currency right  */
table.t1CanadianCBD th:nth-child(6) {  
    column-width: 35;
    text-align: right; } /* align amount right  */
table.t1CanadianCBD th:nth-child(7) {  
    column-width: 25;
    text-align: right; } /* align coupon right  */
table.t1CanadianCBD th:nth-child(8) {  
    column-width: 60;
    text-align: right; } /* align maturity right  */
table.t1CanadianCBD th:nth-child(9) {  
    column-width: 25;
    text-align: right; } /* align tenor right  */
table.t1CanadianCBD th:nth-child(10) {  
    column-width: 25;
    text-align: right; } /* align spread right  */
table.t1CanadianCBD th:nth-child(11) {  
    column-width: 60;
    text-align: right; } /* align type right  */

table.t1CanadianCBD tr:nth-child(even) { background-color: #B2B2FF36;   }
table.t1CanadianCBD td:nth-child(3) {  text-align: left; }  /* align region left  */
table.t1CanadianCBD td:nth-child(4) {  text-align: left; }  /* align series left  */
table.t1CanadianCBD td:nth-child(5) {  text-align: right; } /* align currency right  */
table.t1CanadianCBD td:nth-child(6) {  text-align: right; } /* align amount right  */
table.t1CanadianCBD td:nth-child(7) {  text-align: right; } /* align coupon right  */
table.t1CanadianCBD td:nth-child(8) {  text-align: right; } /* align maturity right  */
table.t1CanadianCBD td:nth-child(9) {  text-align: right; } /* align tenor right  */
table.t1CanadianCBD td:nth-child(10) {  text-align: right; } /* align spread right  */
table.t1CanadianCBD td:nth-child(11) {  text-align: right; } /* align type right  */


/*! ---END FORMAT COVERED BOND ISSUANCE TABLES-----*/

/*----------------------------------------------------------------------*/
/* ---------AGGREGATE CB TABLES WITH SELECTION FILTERS------------------*/
/*----------------------------------------------------------------------*/

div#top {
	display: flex; 
	justify-content:space-between;
	justify-content: center;
}

/*! ---END FORMAT CB TABLES WITH SELECTION FILTERS-----*/
