/*----------------------LEGISLATION STYLING-----------------------------*/

/*----------------------------------------------------------------------*/
/*---------------------FORMAT LEGISLATION TABLE-------------------------*/
/*----------------------------------------------------------------------*/

h1.t1USLegislation {
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	font-size: 200%;
}

table.t1USLegislation {
	width: 100%;
	border-collapse: collapse;
	background-color: #B5C7E2;
}

table.t1USLegislation th {
	color: white;
	text-align: center;
	background-color: blue;
	font-size: 125%;
}

table.t1USLegislation td {
	text-align: left;
	border: 1px solid black;
	font-size: 100%;
	padding-left: 5px;
}
/*! ---END FORMAT LEGISLATION TABLE----*/

