/*------------------------RESPONSIVE STYLING-----------------------------*/

/*----------------------------------------------------------------------*/
/*---------------------RESPONSIVE ADJUSTMENTS---------------------------*/
/*----------------------------------------------------------------------*/

    .home-container {
	    display: flex;
	    flex-wrap: nowrap;
	    -webkit-flex: 1;
        flex: 1;
/*	    -moz-flex: 1;
	    -ms-flex: 1;
	    -webkit-flex-direction: column;
	    -moz-flex-direction: column;
	    -ms-flex-direction: column;*/
    }
@media only screen and (max-width: 1024px) {  /* Apply to all mobile devices */
	.home-box {
		width: 100%;
		max-width: none;
	}
		
	#access div {
		padding-right: 0px;      /*  eliminate the padding on the right for the menu  */
	}
	#access ul {                     /*  eliminate the padding on the right for the menu  */
		margin: 0;
	}
	img.j1photo {
		max-width: 100%;
		display: none;
	}
	
	img.j2photo {
		max-width: 50%;
	}
        img.j3photo {
                 max-width: 100%;
        }
	div.jmpost {
		max-width:75%; 
		margin: auto;
	}
	article.hentry.type-post.status-publish {width:70%;}

/*--
*-----CB TABLES FOR SMALL DEVICES----
*/

      table.t1canadianCBD {
                margin: 0;
                width: auto;
                float: none; 
                padding: 0; 
		}
        #access {
                margin: 0;
                width: auto;
                padding: 0;
                border: 0;
        }

        #page #content #main {
			width: auto;
			margin: 0;
			padding: 0;
			border: 0;
			float: none;
        }  
}  

/*                                                                         */
/*-------------------RESPONSIVE ISSUANCE TABLES----------------------------*/
/*                                                                         */

@media only screen and (max-width: 481px) and (min-width: 375px) and (orientation: portrait) {
	body {
		width: auto;
		Max-width: 100%;
	}
	#main #content { margin:0 }
	
	.home-box {
		width: 100%;
		max-width: none;
	}
	
    .home-container {
    	display: flex;
    	flex-wrap: nowrap;
    	-webkit-flex: 1;
    	-moz-flex: 1;
    	-ms-flex: 1;
        flex: 1;
    }
	
  h1.t1USDCB {
	font-size: 18px; 
	text-align:left; 
	font-weight: bold;
  }
 /* adjust Twitter widget  */
/*	div.twitter-container {      
		width: 39%;
		max-width: 110px;
	}
*/	
	.Fcontainer {
		max-width: 56%;
	}  
	
  p.jmsorter {display: none;}
	
	div.jmpost { max-width: 100%;}
	article.hentry.type-post.status-publish {width:100%;}
	.singular.entry-header { width: 100%;}
	
  table.t1CanadianCBD.aggregateCB { 
	  border: 0; 
	  width: 75%;
	}

 table.t1CanadianCBD.annualCB { 
	  border: 0; 
	  width: 100%;
	}

  table.t1CanadianCBD caption { font-size: 1.4em; }
  
  table.t1CanadianCBD thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table.t1CanadianCBD tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table.t1CanadianCBD td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .7em;
    text-align: left!important;
	position:relative;
	padding-left: 20%;
	width: 70% ;
	}
  
  table.t1CanadianCBD td::before {
    content: attr(data-label);
 	position: absolute;
		/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table.t1CanadianCBD td:last-child {
    border-bottom: 0;
  }
}


@media only screen and (max-width: 768px) and (min-width: 482px) and (orientation: landscape)
    {
	body {
		width: 768px ;
	}  
	.home-box {
		width: 100%;
		max-width: none;
	}
			
		#main #content { margin:0 }
		
    .home-container {
    	display: flex;
    	flex-wrap: nowrap;
    	-webkit-flex: 1;
    	-moz-flex: 1;
    	-ms-flex: 1;
        flex: 1;
    }

  h1.t1USDCB {
	font-size: 18px; 
	text-align:left; 
	font-weight: bold;
  }
	div.twitter-container {       /* adjust Twitter widget  */
		width: 27%;
		max-width: 110px;
		background-color: green;
	}
	div.Fcontainer {              /* make room for Twitter widget   */
		width: 90%;
		max-width: 70%;
	}
	div.jmpost {max-width: 100%;}
	article.hentry.type-post.status-publish {width:100%;}
	

/*                                                                         */
/*-------------------RESPONSIVE NAVIGATION MENU----------------------------*/
/*                                                                         */
	.menu li.menu-item-type-post_type:first-child { 
	width: 30%;
    float: left;
    display: flex;
}
}
@media screen and (max-width: 375px ) 
	{.menu li.menu-item-type-post_type:first-child { width: 25%; }}
@media screen and (max-width: 481px ) and (min-width:375px) 
	{.menu li.menu-item-type-post_type:first-child { width: 100%; }}
@media screen and (max-width: 768px ) and (min-width:481px) 
	{.menu li.menu-item-type-post_type:first-child { width: 15%; }}
@media screen and (max-width: 1024px ) and (min-width:768px) 
	{.menu li.menu-item-type-post_type:first-child { width: 10%; }} 

/*! ---END RESPONSIVE ADJUSTMENTS----*/

/*----------------------------------------------------------------------*/
/*---------------------------FLUID IFRAMES------------------------------*/
/*----------------------------------------------------------------------*/
.fluidMedia {
    position: relative;
    padding-bottom: 125%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
                          /* I used 8:10 (10/8 = 1.25 or 125% for vertical PDF  */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    display: block;       /* iframes are inline by default */
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
}
/*! ------END FLUID FRAMES-------*/

/*----------------------------------------------------------------------*/
/*---------------------FORMAT PRINT OUTPUT------------------------------*/
/*----------------------------------------------------------------------*/

@media only print {
 	#site-title  {
		margin: 0 0 0 0;   /*--FIX MARGINS FOR SITE-TITLE--*/
		width: 80%;        /*--REDUCE THE WIDTH---*/
	} 
	#site-description {
		margin: 0 0 0 0;   /*--FIX MARGINS FOR SITE-DESCRIPTION--*/
		width: 80%;        /*--REDUCE THE WIDTH---*/
	}
	#access {
		display: none;  /*--DO NOT PRINT MENUS---------*/
	}
	#main {
		font-size: x-small;
		margin: 0 0 0 0 !important;
	}
}
/*! ---END FORMAT PRINT OUTPUT----*/