/*------------------------CB by YEAR STYLING-----------------------------*/

/*----------------------------------------------------------------------*/
/*---------------------FORMAT CANADIAN CB BY YEAR-----------------------*/
/*----------------------------------------------------------------------*/

h1.t1canadianCBY {
	margin-bottom: 0;
	margin-top: 0em;
	text-align: center;
	font-size: 200%;
}
table.t1canadianCBY {
	width: 80%;
	margin: 0 0 0 10%;
	border-collapse: collapse;
}

table.t1canadianCBY th {
	color: white;
	text-align: center;
	background-color: blue;
	font-size: 100%;
}
table.t1canadianCBY tr:nth-child(odd) {
	background-color: LightGray;
}
table.t1canadianCBY td {
	text-align: center;
	vertical-align: top;  /* for the Year column */
	height: 20px;
	font-size: 90%;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
}

table.t1canadianCBY a {
	font-size: 85%;
}
/*! ---END FORMAT CANADIAN CB BY YEAR-----*/
